@reference "../../../css/tailwind.css";

.eventsPage {
  font-family: Roboto !important;
  font-size: 44px;
}

.section {
  @apply border border-slate-300 px-6 py-8 rounded-3xl flex gap-8;
}

.dark .section {
  @apply border-red-700;
}

.link {
  @apply text-red-700 hover:text-red-600;
}

.shake:hover {
}
