* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
  }
  
  html {
    --clr-secondary-light: #292929;
    --clr-secondary: #000000;
  
    --clr-gray: #dddddd;
    --clr-light: #ffff;
    --clr-font: #fff;
    scroll-behavior: smooth;
    box-sizing: border-box;
    --clr-primary: #ffff;
    --clr-white-smoke: #000;
    --clr-red-new: #c01120;
    --clr-black-new: #000;
  }

  .heading-main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
  }
  .heading-main-title h3 {
    font-size: 2.5em;
    border-bottom: 1px solid var(--clr-red-new);
    color: #575757;
    padding: 17px 0;
  }
  .sub-title {
    position: relative;
  }
  .sub-title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 30%;
    background: var(--clr-red-new);
    left: 0;
    bottom: -2px;
  }
  .heading-main-title h1 {
    font-size: 5em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  div.circTxt7 {
    display: inline-block;
    margin-bottom: 128px;
    color: rgb(253, 253, 253);
    position: relative;
  }
  
  .about-sec {
    background-color: var(--clr-primary);
  }
  .about-container {
    padding: 90px 150px;
  }
  .ab-img img {
    width: 30vw;
  }
  .ab-img {
    padding-right: 10px;
    padding-bottom: 10px;
   
    background-color: var(--clr-red-new);
    box-shadow: rgb(0 0 0 / 25%) 0 54px 55px;

    backdrop-filter: blur(5px);
    border-radius: 10px;
    transition: 0.4s ease;
  }
  .ab-img:hover {
    padding-right: 30px;
    padding-bottom: 30px;
   
    background-color: var(--clr-red-new);
    box-shadow: rgb(0 0 0 / 25%) 0 54px 55px;
    
    backdrop-filter: blur(5px);
    border-radius: 20px;
  }
  .about-wrap {
    display: flex;
    justify-content: space-between;
  }
  
  .about-content {
    background-image: url(../assets/template3images/qoute.png);
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: right;
    background-size: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 100px;
    padding-right: 40px;
  }
  .about-content h1 {
    font-size: 40px;
    padding-top: 50px;
  }
  .about-content p {
    font-size: 20px;
   
    padding: 40px 0;
  }
  .button-sq {
    font-size: 15px;
    display: inline-block;
    padding: 1em 1.3em;
    text-align: center;
    letter-spacing: 4px;
    color: white;
    background: red;
    border-right: 3px solid white;
    text-decoration: none;
    text-transform: uppercase;
  
   
  }
  .button-sq:hover {
    background-position: right;
    color: #000;
  }
  .button-sq-red {
    font-size: 15px;
    display: inline-block;
    padding: 1em 1.3em;
    text-align: center;
    letter-spacing: 4px;
    color: white;
    border-right: 3px solid var(--clr-red-new);
    text-decoration: none;
    text-transform: uppercase;
  
    background: linear-gradient(to right, rgb(0, 0, 0) 50% rgb(204, 48, 48) 50% )
      left;
    background-size: 200%;
    transition: 0.5s ease-out;
  }
  .button-sq-red:hover {
    background-position: right;
  }
  