html {
    --clr-secondary-light: #292929;
    --clr-secondary: #000000;
  
    --clr-gray: #dddddd;
    --clr-light: #ffff;
    --clr-font: #fff;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* --clr-primary: #0f0e30; */
    --clr-primary: #ffff;
    --clr-white-smoke: #000;
    --clr-red-new: #c01120;
    --clr-black-new: #000;
  }
 .heading-main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
  }
  .heading-main-title h3 {
    font-size: 2.5em;
    border-bottom: 1px solid var(--clr-red-new);
    color: #575757;
    padding: 17px 0;
  }
  .sub-title {
    position: relative;
  }
  .sub-title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 30%;
    background: var(--clr-red-new);
    left: 0;
    bottom: -2px;
  }
  .heading-main-title h1 {
    font-size: 5em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  /* services section */
  .flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-services {
  padding-left: 30px;
  background-color: var(--clr-primary);
}
.serv-cards-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.serv-card {
  width: 350px;
  height: 50em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px;
  background-color: var(--clr-red-new);
  box-shadow: rgb(0 0 0 / 25%) 0 54px 55px;
  backdrop-filter: blur(5px);
  padding: 50px;
}

.card-text h1 {
  font-size: 3rem;
  padding: 15px 0;
  text-align: center;
  color: whitesmoke;
  border-bottom: 1px solid white;
}
.card-text p {
  font-size: 1.5rem;
  padding: 20px 0;
  color: whitesmoke;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.button-sq {
  font-size: 15px;
  display: inline-block;
  padding: 1em 1.3em;
  text-align: center;
  letter-spacing: 4px;
  color: white;

  border-right: 3px solid white;
  text-decoration: none;
  text-transform: uppercase;

  background: linear-gradient(
      to right,
      rgb(0, 0, 0) 50%,
      rgb(255, 255, 255) 50%
    )
    left;
  background-size: 200%;
  transition: 0.5s ease-out;
}
.button-sq:hover {
  background-position: right;
  color: #000;
}
.button-sq-red {
  font-size: 15px;
  display: inline-block;
  padding: 1em 1.3em;
  text-align: center;
  letter-spacing: 4px;
  color: white;
  background: red;
  border-right: 3px solid var(--clr-red-new);
  text-decoration: none;
  text-transform: uppercase;


}
.button-sq-red:hover {
  background-position: right;
}

.serv-img-content {
  background: url(../assets/template3images/dsvy-image-2-1.png);
  background-size: cover;
  max-width:50%;
  height: 520px;
  background-repeat: no-repeat;
}
.cards-top-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.serv-p {
  font-size: 15px;
  padding: 0 200px;
}
.serv-heading h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(116, 116, 116);
  font-size: 70px;
}
.content-serv-img-inner {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 200px 40px;
}
.content-serv-img-inner h1 {
  font-size: 35px;
}
.content-serv-img-inner h3 {
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
}
.content-serv-img-inner p {
  font-size: 25px;
  padding: 20px 0;
}

