@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@layer base {
  :root,
  [data-theme="light"] {
    --color-primary: #8f27e0 !important;
    --color-primary-content: #ffffff !important;

    --color-secondary: #d926a9 !important;
    --color-secondary-content: #ffffff !important;

    --color-accent: #1fb2a6 !important;
    --color-accent-content: #ffffff !important;
  }

  [data-theme="dark"] {
    --color-primary: #8f27e0 !important;
    --color-primary-content: #ffffff !important;

    --color-secondary: #d926a9 !important;
    --color-secondary-content: #ffffff !important;

    --color-accent: #1fb2a6 !important;
    --color-accent-content: #ffffff !important;
  }
}

@theme {
  /* Gray (Neutral) */
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-gray-950: #0a0a0a;
}

:root {
  --default-font-family: "Rubik", sans-serif;
}

@import "../css/prism.css";
@import "../css/layout.css";
@import "../css/tailwind.css";

.top-banner p {
  display: flex;
  justify-content: space-between;
}
